<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Welcome Montgomery</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <% rel = current_page.data.relative %>


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="<% rel %>/stylesheets/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- FAQ CSS -->
  <link rel="stylesheet" href="<% rel %>/stylesheets/reset.css">
  <link rel="stylesheet" href="<% rel %>/stylesheets/style.css">


  <!-- Calendar CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" media='print'>

 



  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script language="JavaScript" type="text/javascript" src="<% rel %>/javascripts/all.js"></script>

  


  <!-- FAQ JS -->
  <script language="JavaScript" type="text/javascript" src="../javascripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  

  <!-- Calendar JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>


  <!-- Datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>




  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "371988",
            uid: "82ead0fbcf28a24eea50adc35e05723d",
            options: { "style": "oxygen" } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>

</head>
<body id="body">

 <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Welcome Home</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<% rel %>/" id="logo">Welcome Home</a>
          </div>
          <div class="navbar-collapse collapse js-navbar-collapse">
            <ul class="nav navbar-nav" style="margin-left: 20px">
              <!--li class="<%= nav_active("index.html") %>"><a href="<% rel %>/">Home</a></li-->
              <!--li class="<%= nav_active("WhatToExpect/index.html") %>"><a href="<% rel %>/WhatToExpect">What to Expect</a></li-->

              <!--li class="dropdown ">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What to Expect<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  
                      <li class="<%= nav_active("WhatToExpect/index.html") %>"><a href="<% rel %>/WhatToExpect">ACSC</a></li>
                      <li class=""><a href="#">AWC</a></li>
                      <li class=""><a href="#">OTS</a></li>
                      <li class=""><a href="#">SNCOA</a></li>
                      <li class=""><a href="#">SOC</a></li>
                  </ul>
                </li-->


                <!--li class="dropdown dropdown-large" >
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">WhatToExpect <b class="caret"></b></a>
        
                    <ul class="dropdown-menu dropdown-menu-large row"><style="margin-left: 8cm !important;">
                      <li class="col-sm-4">
                        <ul>
                          <li class="dropdown-header">Enlisted Education</li>
                          <li><a href="#">NCO Acedemy</a></li>
                          <li><a href="#">Senior NCO Acedemy</a></li>
                        </ul>
                      </li>
                      <li class="col-sm-4">
                        <ul>
                          <li class="dropdown-header">Officer Education</li>
                          <li><a href="#">SOC</a></li>
                          <li class="<%= nav_active("WhatToExpect/index.html") %>"><a href="<% rel %>/WhatToExpect">ACSC</a></li>
                          <li><a href="#">AWC</a></li>  
                        </ul>
                      </li>
                      <li class="col-sm-4">
                        <ul>
                          <li class="dropdown-header">Officer Accessions</li>
                          <li><a href="#">OTS</a></li>
                        </ul>
                      </li>
                      
                    </ul>
                    
                  </li-->

              

               <li class="dropdown dropdown-large">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
        
                    <ul class="dropdown-menu dropdown-menu-large row">
                      <li class="col-sm-3">
                        <ul>
                          <li class="dropdown-header">Housing</li>
                          <li><a href="#">Montgomery</a></li>
                          <li><a href="#">Prattville</a></li>
                          <li><a href="#">Millbrook</a></li>
                          <li><a href="#">Wetumpka</a></li>
                          <li><a href="#">Pike Road</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Places of Worship</li>
                          <li><a href="#">Catholic</a></li>
                          <li><a href="#">Baptist</a></li>
                          <li><a href="#">Presbyterian</a></li>
                          <li><a href="#">Methodist</a></li>
                          <li><a href="#">Nondenominational</a></li>
                        </ul>
                      </li>
                      <li class="col-sm-3">
                        <ul>
                          <li class="dropdown-header">Education</li>
                          <li><a href="#">Preschool &amp; Daycare</a></li>
                          <li><a href="#">Public Schools</a></li>
                          <li><a href="#">Private Schools</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Health Care</li>
                          <li><a href="#">Dentists</a></li>
                          <li><a href="#">Chiropractors</a></li>
                          <li><a href="#">OB/GYN</a></li>
                          <li><a href="#">Ophthalmologist</a></li>
                          <li><a href="#">Pediatricians</a></li>
                          <li><a href="#">Podiatrists</a></li>
                          <li><a href="#">Primary Doctors</a></li>
                        </ul>
                      </li>
                      <li class="col-sm-3">
                        <ul>
                          <li class="dropdown-header">Utilities</li>
                          <li><a href="#">Phone &amp; Cable</a></li>
                          <li><a href="#">Highspeed Internet</a></li>
                          <li><a href="#">Power</a></li>
                          <li><a href="#">Water &amp; Garbage</a></li>
                          <li><a href="#">Natural Gas</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Get Settled</li>
                          <li><a href="#">Driver's License</a></li>
                          <li><a href="#">Vehicle Registration &amp; Tags</a></li>
                          <li><a href="#">Vessel Registration</a></li>
                          <li><a href="#">Voter Registration</a></li>
                        </ul>
                      </li>
                      <li class="col-sm-3">
                        <ul>
                          <li class="dropdown-header">Businesses</li>
                          <li><a href="#">Barbers</a></li>
                          <li><a href="#">Car Repair</a></li>
                          <li><a href="#">Gyms &amp; Fitness</a></li>
                          <li><a href="#">Housecleaning</a></li>
                          <li><a href="#">Independent Contractors</a></li>
                          <li><a href="#">Lawn Care</a></li>
                          <li><a href="#">Legal Services</a></li>
                          <li><a href="#">Pest Control</a></li>
                          <li><a href="#">Pet Boarding &amp; Sitters</a></li>
                          <li><a href="#">Salons &amp; Spas</a></li>
                          <li><a href="#">Veterinarians</a></li>
                        </ul>
                      </li>
                    </ul>
                    
                  </li>


              <li class="dropdown dropdown-large">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities <b class="caret"></b></a>
        
                    <ul class="dropdown-menu dropdown-menu-large row">
                      <li class="col-sm-4">
                        <ul>
                          <li class="dropdown-header">Food | Drinks</li>
                          <li><a href="<%= rel %>/activities/local-restaurants">Local Restaurants</a></li>
                          <li><a href="#">Kids Eat Free</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Night Life</li>
                          <li><a href="#">Bars</a></li>
                          <li><a href="#">Billiards</a></li>
                          <li><a href="#">Clubs</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Parks</li>
                          <li><a href="#">Alabama Shakespeare Festival</a></li>
                          <li><a href="#">AUM/Ronn Nunn Montgomery</a></li>
                          <li><a href="#">Ida Belle Young Park</a></li> 
                          <li><a href="#">Lagoon Park</a></li>
                          <li><a href="#">More...</a></li>
                        </ul>
                      </li>
                      <li class="col-sm-5">
                        <ul>
                          <li class="dropdown-header">Attractions | Entainment</li>
                          <li><a href="#">Hank Williams Museum</a></li>
                          <li><a href="#">Harriot II Riverboat</a></li>
                          <li><a href="#">Montgomery Biscuits Baseball</a></li>
                          <li><a href="#">Montgomery Museum of Fine Arts</a></li>
                          <li><a href="#">Montgomery Performing Arts Center</a></li>
                          <li><a href="#">Montgomery Zoo</a></li>
                          <li><a href="#">Old Alabama Town</a></li>
                          <li><a href="#">Rosa Parks Library and Museum &amp; Children’s Wing</a></li>
                          <li><a href="#">The Capri Theatre</a></li>
                          <li><a href="#">The Waters</a></li>
                          
                          
                        </ul>
                      </li>
                      <li class="col-sm-3">
                        <ul>
                          <li class="dropdown-header">Other</li>
                          <li><a href="#">Hunting</a></li>
                          <li><a href="#">Fishing</a></li>
                          <li><a href="#">Hiking</a></li>
                          <li><a href="#">Golf Courses</a></li>
                          <li><a href="#">Go Karting</a></li>
                          <li><a href="#">Escape Games</a></li>
                          <li><a href="#">Farmers Markets</a></li>
                          <li><a href="#">Stuff for Kids</a></li>
                          <li><a href="#">Youth Sports</a></li>
                          <li><a href="#">Weekend Getaways</a></li>
                          <li><a href="#">Volunteer</a></li>
                        </ul>
                      </li>
                    </ul>
                    
                  </li>

              <!--li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
                <ul class="dropdown-menu">
                
                  <% blog('activities').articles.sort_by(&:title).each do |activity| %>
                    <li class="<%= nav_active(activity.path) %>"><a href="<%= activity.url  %>"><%= activity.title %></a></li>
                  <% end %>

                </ul>
               </li-->  
                <!--li class="<%= nav_active("Events/index.html") %>"><a href="<% rel %>/Events">Events</a></li-->
                <li class="dropdown ">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li class="<%= nav_active("events/calendar/index.html") %>"><a href="<% rel %>/events/calendar">Calendar</a></li>
                      <li class="<%= nav_active("events/map/index.html") %>"><a href="<% rel %>/events/map">Map</a></li>
                      <li class="<%= nav_active("events/list/index.html") %>"><a href="<% rel %>/events/list">Event List</a></li>

                  </ul>
                </li>
                <li class="dropdown ">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  
                      <li class=""><a href="https://www.facebook.com/ACSCAY17/" target="_blank">ACSC 2017 Facebook Page</a></li>
                      <li class=""><a href="http://www.acscspouses.com/" target="_blank">ACSC Spouses Website</a></li>
                      <li class=""><a href="http://www.airuniversity.af.mil/ACSC/" target="_blank">ACSC - Air University</a></li>
                      <li class="divider"></li>
                      <li class=""><a href="http://knowthecommunity.com/" target="_blank">Know The Community</a></li>
                      <li class=""><a href="http://www.montgomeryal.gov/" target="_blank">MontgomeryAL.gov</a></li>
                      <li class=""><a href="http://www.funinmontgomery.com/" target="_blank">Parks and Recreation</a></li>
                      <li class=""><a href="https://visitingmontgomery.com/" target="_blank"    >Visiting Montgomery</a></li>

                  </ul>
                </li>
                <li class="<%= nav_active("FAQ/index.html") %>"><a href="<% rel %>/FAQ">FAQ</a></li>
                <li class="<%= nav_active("Contact/index.html") %>"><a href="<% rel %>/Contact">Contact</a></li>
              </li>
            </ul>
              <div>
                <form class="navbar-form" role="search" >
                <div class="input-group" style="margin-left: 20px">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                </form> 
            </div>
          </div>
        </div>
      </nav>
      <div style="height:40px;"></div>
      <div class="container">
